.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 20px;
}


.card-restaurant {
  border: 1px solid gray;
  border-radius: 5px;
  background: white;
  color: black;
  padding: 20px;
}

.app-row {
  padding: 20px 0;
  min-width: 100vw;
  display: flex;
  overflow-x: scroll;
}

.form-row {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
